In [1]:
import pandas as pd
import numpy as np
import networkx as nx
import scipy.sparse as sp
from stellargraph import StellarDiGraph

In [2]:
data = pd.read_csv('./finance')

In [3]:
data

,Unnamed: 0,LHS,RHS,alpha,beta,beta.se,beta.tv,beta.pv,sig,R2,F.fv,F.pv
0,1,SPY,SPY,0.000283,0.000068,0.031671,0.002162,0.998276,0.008583,4.687225e-09,0.000005,0.998276
1,2,IWM,SPY,0.000181,0.025545,0.037986,0.672491,0.501427,0.010295,4.533995e-04,0.452244,0.501427
2,3,EEM,SPY,0.000107,-0.072623,0.045579,-1.593354,0.111398,0.012353,2.539949e-03,2.538778,0.111398
3,4,TLT,SPY,0.000003,0.070517,0.028030,2.515801,0.012032,0.007597,6.308252e-03,6.329253,0.012032
4,5,USO,SPY,-0.000601,-0.058770,0.082619,-0.711340,0.477040,0.022391,5.072698e-04,0.506005,0.477040
...,...,...,...,...,...,...,...,...,...,...,...,...
2155019,2155020,ZBRA,ZTS,0.000666,0.010023,0.053994,0.185630,0.852772,0.024869,3.456110e-05,0.034459,0.852772
2155020,2155021,ZEUS,ZTS,-0.000031,-0.036226,0.079997,-0.452844,0.650760,0.036845,2.056423e-04,0.205067,0.650760
2155021,2155022,ZION,ZTS,0.000489,0.008854,0.037528,0.235938,0.813529,0.017285,5.583113e-05,0.055667,0.813529
2155022,2155023,ZIXI,ZTS,0.000488,0.012105,0.050074,0.241739,0.809032,0.023063,5.860999e-05,0.058438,0.809032
2155023,2155024,ZTS,ZTS,0.000752,-0.091236,0.031548,-2.891938,0.003912,0.014531,8.318691e-03,8.363307,0.003912

In [4]:
data = data.dropna(subset=['beta.tv'])

In [5]:
data['beta.tv'] = np.abs(data['beta.tv'])

/data/localhost/yhe/miniconda3/envs/pytorch/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [6]:
data[['LHS', 'RHS', 'beta.tv']].to_csv('./finance_data.csv')

In [7]:
np.save('./finance_data.npy',data[['LHS', 'RHS', 'beta.tv']].values)

In [8]:
df = data[['LHS', 'RHS', 'beta.tv']]

In [9]:
df.columns = ['source', 'target', 'weight']

In [10]:
graph = StellarDiGraph(edges=df)

In [11]:
print(graph.info())

StellarDiGraph: Directed multigraph
 Nodes: 1315, Edges: 1729225

 Node types:
  default: [1315]
    Features: none
    Edge types: default-default->default

 Edge types:
    default-default->default: [1729225]
        Weights: range=[1.01553e-06, 19.947], mean=0.866805, std=0.670048
        Features: none

In [12]:
adj = graph.to_adjacency_matrix(weighted=True)

In [13]:
adj

<1315x1315 sparse matrix of type '<class 'numpy.float64'>'
	with 1729225 stored elements in Compressed Sparse Row format>

In [14]:
sp.save_npz('./adj', adj)

In [15]:
adj-adj.transpose()

<1315x1315 sparse matrix of type '<class 'numpy.float64'>'
	with 1727910 stored elements in Compressed Sparse Row format>

In [16]:
adj.max()

19.947014282563103

In [17]:
adj.min()

1.01553424675965e-06

In [18]:
df

        source target    weight
0          SPY    SPY  0.002162
1          IWM    SPY  0.672491
2          EEM    SPY  1.593354
3          TLT    SPY  2.515801
4          USO    SPY  0.711340
...        ...    ...       ...
2155019   ZBRA    ZTS  0.185630
2155020   ZEUS    ZTS  0.452844
2155021   ZION    ZTS  0.235938
2155022   ZIXI    ZTS  0.241739
2155023    ZTS    ZTS  2.891938

[1729225 rows x 3 columns]

In [19]:
node_list = list(graph.nodes())

In [20]:
np.save('./node_list', node_list)